#calculator{
    width: 500px;
    height: 600px;
    margin: auto;
    background-color: lightgray;
    border: solid black;
}
#display{
    text-align: center;
    background-color: green;
    font-size: 20px;
    height: 30px;
}
#buttons{
    width: 400px;
    border: solid black;
    margin: auto;
}
#numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 1fr);
}
#operators{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.opButton{
    font-size: 20px;
    background-color: darkblue;
    color: white;
}
.numButton{
    font-size: 20px;
    background-color:lightskyblue;
}
#equal{
    font-size: 20px;
}
#clear{
    font-size: 20px;
}